DATABASE_URL=sqlite://dev.db?cache=shared&_fk=1
DEV_DATABASE_URL=sqlite://file::memory:?cache=shared&cache=shared&_fk=1

OAUTH_SESSION_DRIVER=gorm
OAUTH_SESSION_SECRET=secret
OAUTH_SESSION_SECURE=true
GOOGLE_CLIENT_KEY=key
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=url

EVENT_ENABLED=false