package {{.PackageName}}

import (
	"github.com/ThreeDotsLabs/watermill/message"
	"github.com/ugabiga/swan/core"
	"log/slog"
)

func {{.FuncName}}(
	logger *slog.Logger,
	eventEmitter *core.EventEmitter,
) {
	eventEmitter.AddOneWayHandler(
		"eventHandler",
		"event",
		func(msg *message.Message) error {
			logger.Info("Received message",
				slog.Any("uuid", msg.UUID),
				slog.String("payload", string(msg.Payload)),
			)

			return nil
		},
	)
}
