package {{.PackageName}}

import (
	"log/slog"
)

type {{.StructName}} struct {
	logger *slog.Logger
}

func New{{.StructName}}(
	logger *slog.Logger,
) *{{.StructName}} {
	return &{{.StructName}}{
		logger: logger,
	}
}
